body {
    background-color: lightblue;
    color: grey;
}
.accordion {
    border: 5px solid;
    background: grey;
    display: table-cell;
    padding: 0px;
    float: right;
    top: 100%;
}
h1{
    color: black;
}